---
import { Image } from "astro:assets";
import Modal from "./Modal.astro";
import type { MenuItem } from "@/types/menu";

// Define the props for the Item component
interface Props {
  item?: MenuItem;
  settings: {
    showPrices: boolean;
    showImages: boolean;
    showDescriptions: boolean;
  };
}

// Destructure the props
const { item, settings } = Astro.props;

const { name, price, image_url, description, is_available } = item || {};
const { showPrices, showImages, showDescriptions } = settings;

// Helper function to format price
const formatPrice = (price: number) => {
  return new Intl.NumberFormat("es-CL", {
    style: "currency",
    currency: "CLP",
    maximumFractionDigits: 0,
  }).format(price);
};
---

{item?.type === "item" && (
  <>
    <li
      class="menu-item flex w-full justify-between items-center gap-4 rounded-md bg-primary-200"
    >
      {
        showImages && image_url && (
          <div class="h-full rounded-md overflow-hidden">
            <Image
              class="object-cover object-center h-[100px] w-[100px]"
              src={image_url}
              alt={name || ""}
              width={100}
              height={100}
              inferSize
            />
          </div>
        )
      }
      <div class="flex flex-col gap-2 grow py-4">
        <h3 class="font-bold">{name}</h3>
        {showDescriptions && description && <p class="text-xs">{description}</p>}
      </div>
      {
        showPrices && price !== null && price !== undefined && (
          <div class="flex flex-col gap-2">
            <p class="text-lg px-4 font-bold">{formatPrice(price)}</p>
            <button
              data-command="show-modal"
              data-commandfor="dialog"
              class="rounded-md bg-primary-600 px-2.5 py-1.5 text-sm font-semibold text-white hover:bg-primary-700 mx-4"
            >
              See details
            </button>
          </div>
        )
      }
      <!-- {!is_available && <p>Not Available</p>} -->
    </li>
    <Modal item={item!} settings={settings} />
  </>
)}

{item?.type === "section" && (
  <ul class="menu-category flex flex-col gap-2">
    <li class="menu-category-item flex w-full justify-between items-center gap-4 rounded-md bg-primary-200">
      <div class="flex flex-col gap-2 grow py-4">
        <h3 class="font-bold">{name}</h3>
        {showDescriptions && description && <p class="text-xs">{description}</p>}
      </div>
    </li>
  </ul>
)}
  
