---
import Item from "./Item.astro";
import type { MenuItem } from "@/types/menu";

// Define the props for the Page component
interface Props {
  id: string;
  name: string;
  items: MenuItem[];
  showPrices?: boolean;
  showImages?: boolean;
  showDescriptions?: boolean;
  isVisible?: boolean;
}

// Destructure the props
const {
  id,
  name,
  items = [],
  showPrices = true,
  showImages = true,
  showDescriptions = true,
  isVisible = true,
} = Astro.props;
---

<section id={`page-${id}`} style={`display: ${isVisible ? "block" : "none"};`}>
  <h2>{name}</h2>
  <ul>
    {
      items.map((item) => (
        <Item
          name={item.name}
          price={item.price}
          image_url={item.image_url}
          description={item.description}
          is_available={item.is_available}
          showPrices={showPrices}
          showImages={showImages}
          showDescriptions={showDescriptions}
        />
      ))
    }
  </ul>
</section>

<style>
  section {
    margin: 0 auto;
    max-width: 640px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
</style>
