---
import Item from "./Item.astro";
import SharedModal from "./SharedModal.astro";
import type { MenuItem } from "@/types/menu";
import ChevronLeft from "../assets/icons/ChevronLeft.svg";
import FloatingButton from "./Buttons/FloatingButton.astro";
interface Props {
  id: string;
  name: string;
  items: MenuItem[];
  settings: {
    showPrices: boolean;
    showImages: boolean;
    showDescriptions: boolean;
  };
  isVisible?: boolean;
  baseUrl: string;
}

const {
  id,
  name,
  items = [],
  settings,
  isVisible = true,
  baseUrl,
} = Astro.props;
---

<main
  id={`page-${id}`}
  class="h-screen flex flex-col gap-4"
  style={`display: ${isVisible ? "block" : "none"};`}
>
  <h2 class="text-2xl font-bold p-4 text-center" transition:name={id}>{name}</h2>
  <ul class="flex flex-col gap-2 p-2">
    {
      items.map((item) => (
        <Item
          item={item}
          settings={settings}
        />
      ))
    }
  </ul>
  <FloatingButton href={baseUrl} variant="primary">
    <ChevronLeft />
  </FloatingButton>
  
  <!-- Single shared modal for all items in this page -->
  <SharedModal />
</main>
